/*font*/
body{
    font-size: 18px;
    font-family:'Rubik', sans-serif;
}

a{
    color: black;
}

p {
    color: grey;
}

.btn {
    font-size: 18px;
    font-family:'Rubik', sans-serif;
}

.btn-red{
    background-color: hsl(0, 94%, 66%) ;
    color: white;
    border-radius: 9px;
}
.btn-red:hover{
    background:white!important;
    color: hsl(0, 94%, 66%)!important;
    border-color: red!important;
    border-radius: 12px;
}
.btn-chrome{
    background-color: hsl(231, 69%, 60%);
    color: white;
    border-radius: 12px;
    border-color: blue;
}
.btn-chrome:hover{
    background-color: white;
    color:  hsl(231, 69%, 60%);
}
.btn-firefox{
    background-color: white;
    border-color: black;
    border-radius: 12px;
}
/*les boutons nav*/
.boutons_menus{
    margin-left: 600px;
    list-style: none;
}
.content{
    margin-top: 100px;
}
/*le corps parti1*/
.marge{
    margin-top: 150px;
}
.ecrit1{
    text-align: justify;
}
h1{
    text-align: left;
}
.imgcorp1{
    width: 90%;
}
.titre2{
    text-align: center;
}
.speech2{
    text-align: center;
}
.features{
    margin-top: 50px;
}
.ecrit2{
    margin-top: 100px;
}
.features2{
    margin-top: 80px;
    margin-bottom: 150px;
}
.features2 img{
    width: 90%;
}
.tabcontainer a.active{
    border-bottom: 3px solid red;
}
.tabcontainer a.{
    border-bottom: solid;
}
/*FAQ*/
.FAQ{
    text-align: center;
}
.bloc{
    margin-left: 350px;
    margin-right: 350px;
    background: none !important;
    border: none !important;
}
.card {
    border: none !important;
    border-top: 1px solid #dfdfdf !important
}
.card-header {
    background: none !important;
}
/*imag+boton install*/
.log2{
    margin-top: 50px;
}
.log3{
    margin-top: 100px;
}.logbut{
    text-align: center;
    margin-bottom: 100px;
    margin-top: 100px;
}
.logbut hr{
    
}
.more{
    text-align: center;
}
/*footer*/
.foot{
    background-color:#5368DF;
    color: white;
    text-align: center;
}
.ensemble{
    padding: 10px;
}
.foot2{
    background-color: #252B46;
    color: white;
    height: 50px;
    padding: 20px;
}
.white{
    stroke: white;
}